# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\HOC TAP\NAM 4 KY 2\Dam bao chat luong phan mem\DEMO\QuanLyBaoHiemFull\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
